native/Graph/AddEdge.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://MyGraphservice" name="addEdge" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://MyGraphservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://MyGraphservice" schemaLocation="AddEdge_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="V">
    <part name="parameters" element="tns:V"/>
  </message>
  <message name="VResponse">
    <part name="parameters" element="tns:VResponse"/>
  </message>
  <message name="E">
    <part name="parameters" element="tns:E"/>
  </message>
  <message name="EResponse">
    <part name="parameters" element="tns:EResponse"/>
  </message>
  <message name="addEdge">
    <part name="parameters" element="tns:addEdge"/>
  </message>
  <message name="addEdgeResponse">
    <part name="parameters" element="tns:addEdgeResponse"/>
  </message>
  <portType name="MyGraph">
    <operation name="V">
      <input wsam:Action="http://MyGraphservice/MyGraph/VRequest" message="tns:V"/>
      <output wsam:Action="http://MyGraphservice/MyGraph/VResponse" message="tns:VResponse"/>
    </operation>
    <operation name="E">
      <input wsam:Action="http://MyGraphservice/MyGraph/ERequest" message="tns:E"/>
      <output wsam:Action="http://MyGraphservice/MyGraph/EResponse" message="tns:EResponse"/>
    </operation>
    <operation name="addEdge">
      <input wsam:Action="http://MyGraphservice/MyGraph/addEdgeRequest" message="tns:addEdge"/>
      <output wsam:Action="http://MyGraphservice/MyGraph/addEdgeResponse" message="tns:addEdgeResponse"/>
    </operation>
  </portType>
  <binding name="MyGraphPortBinding" type="tns:MyGraph">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="V">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="E">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addEdge">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="addEdge">
    <port name="MyGraphPort" binding="tns:MyGraphPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

